.clock-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;
    line-height: 0;
}

.clock-hours,
.clock-minutes,
.clock-seconds {
    display: flex;
    perspective: 1000px;
}

.digit {
    position: relative;

    width: 45px;
    height: 80px;
    
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
}

.digit-left {
    margin-right: 1px;
}

.dight-right {
    margin-left: 1px;
}

.digit::before, 
.digit::after {
    position: absolute;
    z-index: 0;

    display: flex;
    justify-content: center;

    width: 100%;
    height: 50%;    
    overflow: hidden;
}

.digit::before {
    content: attr(data-digit-before);

    bottom: 0;
    align-items: flex-start;
}

.digit::after {
    content: attr(data-digit-after);

    top: 0;
    align-items: flex-end;
}

.card {
    position: relative;
    z-index: 1;

    width: 100%;
    height: 50%;
    
    transform-style: preserve-3d;
    transform-origin: bottom;
    transform: rotateX(0);
    transition: 0.5s transform ease;
}

.card.flipped {
    transform: rotateX(-180deg);
}

.card-face {
    position: absolute;

    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;
    overflow: hidden;

    backface-visibility: hidden;
}

.card-face-front {
    align-items: flex-end;
}

.card-face-back {
    align-items: flex-start;

    transform: rotateX(-180deg);
}

.digit::before,
.digit::after,
.card-face-front,
.card-face-back {
    background: #C8D2D1;
    color: white;
}

.digit,
.digit::before,
.digit::after,
.card,
.card-face {
    border-radius: 4px;
}

.digit::before,
.card-face-back {
    /* border-bottom: 1px solid black; */
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.digit::after,
.card-face-front {
    /* border-top: 1px solid black; */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.digit-left,
.digit-left::before,
.digit-left::after,
.digit-left .card,
.digit-left .card-face {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.digit-right,
.digit-right::before,
.digit-right::after,
.digit-right .card,
.digit-right .card-face {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}