.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.75);
}

.add-task-icon-container {
    max-width: 790px;
    height: 145px;
    margin: 40px auto;
    border-radius: 20px;

    border: 5px dashed #C8D2D1;

    display: flex;
    flex-direction: column;
    align-items: center;

    cursor: pointer;
}

.add-task-icon-container > h2 {
    color: #C8D2D1;
}

