.navbar {
    width: 100%;
    background: #DA6A00;
    padding: 3px;
    box-sizing: border-box;
    border-bottom: 5px solid black;
}

.navbar ul {
    display: flex;
    align-items: center;
    /* To offset to align with add task button in Modal.module.css */
    margin-right: 30px;
}

.navbar li {
    list-style: none;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.4rem;
}

.navbar a {
    color: #C8D2D1;
    text-decoration: none;
}