.task-container {
    /* Align items within task container without using display: flex*/
    
}

.name {
    /* This is the title for the task. */
}


.task {
    max-width: 800px;
    height: auto;

    box-sizing: border-box;
    margin: 0 auto;
    
    /* Give the task box a border */
    border: 5px solid black;
    border-radius: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #C8D2D1;
}



/* Play/Pause Button */
.play {
    box-sizing: border-box;
    height: 40px;

    border-color: transparent transparent transparent #000000;
    transition: 100ms all ease;
    will-change: border-width;
    cursor: pointer;
    
    border-style: solid;
    border-width: 20px 0px 20px 40px;

    position: relative;
    left: 20px;
}

.play.pause {
    border-style: double;
    border-width: 0 0 0 40px;
}

.timer {
    border: 5px solid black;
    padding: 10px;
    background-color: #000000;
    position: relative;
    right: 15px;
}

/* Options Buttons */

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options > img {
    width: 20px;
}

.reset {
    cursor: pointer;
}

.edit {
    cursor: pointer;
}

.delete {
    cursor: pointer;
}

