.form {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid black;
    padding: 100px 50px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
    border-radius: 15px;
}

.form label {
    display: flex;
    flex-direction: column;
}

.signup-input {
    margin: 0 0 10px 0;
    border: none;
    outline: none;
    font-size: 22px;
    text-align: center;
    caret-color: black;
    color: #DA6A00;
    font-weight: 600;
    margin: 20px 0 0;
}

.signup-input + div {
    border-bottom: 3px solid transparent;
    transform: scaleX(0);
    transition: 0.5s;
}

.signup-input.focused + div {
    border-bottom: 3px solid black;
    transform: scaleX(1);
}

.signup-input::placeholder {
    color: #C8D2D1;
}

.signup-input.focused::placeholder {
    color: transparent;
}

.password-icon {
    width: 30px;
    cursor: pointer;
    position: absolute;
    right: 53px;
    bottom: 207px;
}

.form button {
    min-width: 125px;
    background-color: #C8D2D1;
    color: white;
    margin: 50px auto 10px auto;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 5px;
    display: block;
    transition: 0.5s;
}

.form button:hover, .form button:focus {
    background-color: #68904D;
}